<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="login-container">
            <div class="form-content">
                <h1 id="title">Recover password</h1>

                <form action="/forgot-password" method="POST">
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" placeholder="e-mail" name="email" id="email">
                        </div>
                    </div>
                    <div class="btn-field">
                        <!-- <input type="hidden" name="_csrf" value=""> -->
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>