<div class="wrapper_container">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="carousel">
            <img src="/images/sliderr.png" alt="Cube´s Crafters Carousel" draggable="false">
            <img src="/images/publi3.png" alt="Cubos paquetes" draggable="false">
            <img src="/images/publi4.png" alt="Cubos envios" draggable="false">
            <img src="/images/publi2.png" alt="Cubos publicidad" draggable="false">
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>