<div class="wrapper_container">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="carousel">
            <img src="/images/sliderr.png" alt="Cube´s Crafters Carousel" draggable="false">
            <img src="https://scontent.flmm1-1.fna.fbcdn.net/v/t39.30808-6/348698482_916117429690483_404199068319789637_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGCKHUwV0-9BN4pwgbhJngbr1AUz1HM8F2vUBTPUczwXS0li9rm40ZVyWh5gAkT5BncevPlQyrvziGpE9Hww1sG&_nc_ohc=aQePnX5VpAUAX8sPK9t&_nc_ht=scontent.flmm1-1.fna&oh=00_AfDSbRINv9fFlnMnc6l6b4-GEm-NATCuMdL3Dkybl-0w4Q&oe=646F3BC8" alt="Cube´s Crafters Carousel" draggable="false">
            <img src="https://scontent.flmm1-1.fna.fbcdn.net/v/t39.30808-6/348698482_916117429690483_404199068319789637_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGCKHUwV0-9BN4pwgbhJngbr1AUz1HM8F2vUBTPUczwXS0li9rm40ZVyWh5gAkT5BncevPlQyrvziGpE9Hww1sG&_nc_ohc=aQePnX5VpAUAX8sPK9t&_nc_ht=scontent.flmm1-1.fna&oh=00_AfDSbRINv9fFlnMnc6l6b4-GEm-NATCuMdL3Dkybl-0w4Q&oe=646F3BC8" alt="Cube´s Crafters Carousel" draggable="false">
            <img src="https://scontent.flmm1-1.fna.fbcdn.net/v/t39.30808-6/348698482_916117429690483_404199068319789637_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGCKHUwV0-9BN4pwgbhJngbr1AUz1HM8F2vUBTPUczwXS0li9rm40ZVyWh5gAkT5BncevPlQyrvziGpE9Hww1sG&_nc_ohc=aQePnX5VpAUAX8sPK9t&_nc_ht=scontent.flmm1-1.fna&oh=00_AfDSbRINv9fFlnMnc6l6b4-GEm-NATCuMdL3Dkybl-0w4Q&oe=646F3BC8" alt="Cube´s Crafters Carousel" draggable="false">
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>