<footer class="footer">
    <p class="footer__text">Cube`s Crafters</p>
    <p class="footer__text">Integrantes del equipo: 
        <br> Jimenez Bacasegua Jose Carlos 19440094 
        <br> Castro Lopez Andres 19440377
    </p>
    <p class="footer__text">@<span id="currentYear"></span></p>
  </footer>

<script src="/js/main.js"></script>
<script src="/js/carrusel.js"></script>

</body>

</html>