<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cubos Cube's Crafters<%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <meta name="keywords" content="Cubo, Cubos Rubik, Cubos mágicos, Cubos de velocidad, Cubos de armar, Cubos coleccionables, Accesorios, 
    Stickers, Variantes, Comprar, Ofertas, Marcas populares, Tiempos de resolución, Regalos, Cubos espejo, Colores, 3x3, 4x4, 5x5, 2x2, Rompecabezas, Puzzles">